:root{
    --ff-sans : 'Poppins' , sans-serif;

    --fw-light : 200 ;
    --fw-normal : 400;
    --fw-bold : 600;

    --fs-400 : 0.9275rem;
    --fs-500 : 1.25rem;
    --fs-600 : 1.625rem;
    --fs-900 : 2.5rem;
    
    --clr-neutral-400 : hsl(0, 0%, 98%);
    --clr-neutal-700 : hsl(229, 6%, 66%);
    --clr-neutral-900 : hsl(234, 12%, 34%);

    --clr-blue: hsl(212, 86%, 64%);
    --clr-cyan : hsl(180, 62%, 55%);
    --clr-orange : hsl(34, 97%, 64%);
    --clr-Red : hsl(0, 78%, 62%);
}

*{
    margin : 0;
    padding :0 ;
}
*,*::before,*::after{
    box-sizing: border-box;
}
html{
    font-family: var(--ff-sans);
    font-weight: var(--fw-normal);
    line-height: 1.5;
    color: var(--clr-neutal-700);
}
h1,h2,h3{
    color: var(--clr-neutral-900);
    line-height: 1.2;
}
.wrapper{
    padding-inline: 2rem;
    margin-inline : auto;
    max-width: 1100px;
}

.wrapper-narrow{
    max-width: 550px;
}
header{
    text-align: center;
    margin-block: 3rem;
}
h1{
    font-size: var(--fs-900);
    font-weight: var(--fw-light);
}
h1 span{
    font-weight: var(--fw-bold);
}

header p{
    font-size: var(--fs-400);
}
.layout-grid{
    display: flex;
    gap: 1rem;
}
@media (max-width:800px){
    .layout-grid{
        display: grid;
    }
}
.layout-grid > *{
    flex: 1;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:2rem;
}
.card{
    padding: 2rem;
    box-shadow: 1rem 0.5rem 1rem -0.5rem rgb(0 50 100 /0.1);
    border-radius: 0.5rem;
}
.supervisor{
    border-top: 4px solid var(--clr-cyan);
}
.team-builder{
    border-top: 4px solid var(--clr-Red );
}
.karma{
    border-top: 4px solid var(--clr-orange);
}
.calculator{
    border-top: 4px solid var(--clr-blue);
}
.card-title{
    font-size: var(--fs-600);
    margin: 0;
}
.card-img{
    display: block;
    margin-left:auto;
    margin-top: 1rem;
}
.attribution{
    text-align: center;
}

